:root {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
html,
.poppins-font {
    font-family: 'poppins' !important;
}

/* new */
.mainCard {
    /* background-color: #fff; */
    background-color: #fbfbfb !important;
}

.rightCardContainer .button.p-component:focus,
.rightCardContainer .p-button:focus {
    border: 0;
    box-shadow: none;
}

.addPresenterContainer .p-inputtext,
.addSubAdminContainer .p-inputtext {
    padding: 0.5rem 0.75rem !important;
}

.p-button:focus,
.p-inputtext:enabled:focus,
.p-dropdown:not(.p-disabled).p-focus {
    box-shadow: none !important;
}

.p-button.p-button-sm {
    padding: 0.5rem 1.6rem !important;
}

.p-button {
    padding: 0.5rem 1.25rem !important;
}

.contentContainer {
    background-color: #f2f6f7 !important;
    min-height: 100vh;
}

/* main container */
.addPresenterContainer,
.addSubAdminContainer,
.addEventContainer,
.addStudentContainer,
.addChangePasswordContainer {
    /* box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px; */
    background: white;
}

/* login img contaier */
.loginImgContainer span>img {
    width: 100%;
    height: 100%;
}

/* table */
.p-datatable-emptymessage>td {
    text-align: center !important;
}


/* no data */
.no-data {
    color: #de7373;
    border: 1px solid #de7373;
    border-radius: 5px;
    padding: 5px;
    background: #ff767621;
}


.loader {
    border-top-color: #3498db;
    -webkit-animation: spinner 1.5s linear infinite;
    animation: spinner 1.5s linear infinite;
}

.thin-scrollbar {
    overflow-y: auto !important;
    max-height: 78vh !important;
    padding-right: 10px !important;
}

.thin-scrollbar-presenter {
    overflow-y: auto !important;
    max-height: 85vh !important;
    padding-right: 10px !important;
}


.thin-scrollbar::-webkit-scrollbar-track, .thin-scrollbar-presenter::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px hsla(0, 0%, 79.6%, .3);
    border-radius: 6px;
    background: #ebedee
}

.thin-scrollbar::-webkit-scrollbar, .thin-scrollbar-presenter::-webkit-scrollbar {
    height: 6px;
    width: 6px
}

.thin-scrollbar::-webkit-scrollbar-thumb, .thin-scrollbar-presenter::-webkit-scrollbar-thumb {
    border-radius: 6px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background: #b3b2b9
}

.thin-scrollbar::-webkit-scrollbar-thumb:hover, .thin-scrollbar-presenter::-webkit-scrollbar-thumb:hover {
    background: #8b8d94;
    cursor: pointer
}

.p-password-input,
.p-password .p-icon-field {
    width: 100%;
}

.p-password .p-icon-field>.p-input-icon {
    margin-top: -0.8rem !important;
}

svg:focus {
    outline: none !important;
}

.textinThreeLine {
    display: -webkit-box !important;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
    text-overflow: ellipsis;
}

.textinThreeLineSix {
    display: -webkit-box !important;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
    overflow: hidden;
    text-overflow: ellipsis;
}

@-webkit-keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spinner {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}